$fontStyle1: "Inter";
$fontStyle2: "Roboto";

$h4_fontWeight: 700;
$h4_fontSize: 32px;
$h4_lineHeight: 36px;

$body1_fontWeight: 700;
$body1_fontSize: 16px;
$body1_lineHeight: 24px;

$body2_fontWeight: 700;
$body2_fontSize: 16px;
$body2_lineHeight: 20px;

$body3_fontWeight: 700;
$body3_fontSize: 18px;
$body3_lineHeight: 21px;

$body4_fontWeight: 400;
$body4_fontSize: 16px;
$body4_lineHeight: 20px;

$body5fontWeight: 700px;
$body5_fontSize: 24px;
$body5_lineHeight: 28px;

$subtitle_fontWeight: 500;
$subtitle_fontSize: 16px;
$subtitle_lineHeight: 16px;

$subtitle2_fontWeight: 400;
$subtitle2_fontSize: 18px;
$subtitle2_lineHeight: 21px;

$subtitle3_fontWeight: 700;
$subtitle3_fontSize: 14px;
$subtitle3_lineHeight: 36px;

$subtitle4_fontWeight: 400;
$subtitle4_fontSize: 13px;
$subtitle4_lineHeight: 24px;

$caption_fontWeight: 400;
$caption_fontSize: 12px;
$caption_lineHeight: 16px;
